@import "colors";

.smoke-container {
  & {
    height: 100vh;
    background: black;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f00, #f00, #0f0, #0ff, #ff0, #0ff);
    mix-blend-mode: color;
    z-index: 1;
    pointer-events: none;
  }
  h1 {
    & {
      @media screen and (min-width: 800px) {
        font-size: 8vw;
      }
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      text-align: center;
      color: $font-on-black;
      font-size: calc(18px + 3vw);
      letter-spacing: 3vw;
      animation: moveUp .5s ease-out forwards;
      animation-delay: 6s;
      z-index: 2;
    }
    span {
      opacity: 0;
      display: inline-block;
      animation: animate 1s linear forwards;

      @for $i from 1 through 7{
        &:nth-child(#{$i}){
          animation-delay: #{0.7+$i/2}s;
        }
      }
      @for $i from 8 through 16{
        &:nth-child(#{$i}){
          animation-delay: 5s;
        }
      }
    }
  }
  video {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
  }
  .intro {
    opacity: 0;
    position: absolute;
    top: 50%;
    @media (min-width: 800px) {
      top: 75%;
    }
    margin: 0;
    padding: 0;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2;
    color: $font-on-black;
    text-align: center;
    animation: slow-show 1s linear forwards;
    animation-delay: 6.5s;
    font-size: calc(14px + 2vw);
  }
  .start {
    & {
      opacity: 0;
      position: absolute;
      top: 90%;
      margin: 0;
      padding: 0;
      transform: translateY(-50%);
      width: 100%;
      z-index: 2;
      color: $font-on-black;
      text-align: center;
      animation: slow-show 2s linear forwards;
      animation-delay: 7s;
    }
    &:hover {
      color: $highlight-on-black;
      .arrow::after{
        top:-90%;
        transform: rotate(45deg);
        border-color: $highlight-on-black;
        height: 120%;
      }
      .arrow::before{
        border-color: $highlight-on-black;
        transform: scale(.8);
      }
    }

    .arrow {
      width: 6vmin;
      height: 6vmin;
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: rotate(135deg);

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        border-width: .8vmin .8vmin 0 0;
        border-style: solid;
        border-color: $font-on-black;
        transition: .2s ease;
        display: block;
        transform-origin: 100% 0;
      }

      &:after {
        content: '';
        float: left;
        position: relative;
        top: -100%;
        width: 100%;
        height: 100%;
        border: 0 solid $font-on-black;
        border-right-width: .8vmin;
        transform-origin: 100% 0;
        transition: .2s ease;
      }
    }
  }
}

@keyframes moveUp {
  0% {
    top: 50%;
  }
  100% {
    top: 30%;

  }
}

@keyframes slow-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }

}
