@import "colors";

%section-title {
  text-align: center;
  font-size: calc(30px + 2vw);
  position: relative;
  transition: font-size .5s;
  &.slide-left{
    &::after{
      left:-150%;
    }
  }
  &::after {
    content: "";
    border: 2px solid $font-color;
    background: $font-color;
    display: block;
    width: calc(15px + 3vw);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: calc(-15px - 1vw);
    transition:.5s;
    overflow:hidden;
  }
}

%pop-up-tech{
  opacity:0;
  position:absolute;
  width:150px;
  background: white;
  z-index: 2;
  border-radius:5px;
  text-align: center;
  font-size:18px;
  transition: left .5s, opacity 2s;
  -webkit-box-shadow: 0 6px 29px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 6px 29px 0 rgba(0,0,0,0.75);
  box-shadow: 0 6px 29px 0 rgba(0,0,0,0.75);
  pointer-events: none;
  font-weight:bold;
}

%section-padding{
  padding-top:50px;
}

%corner-border{
  display: block;
  border: 2px solid;
  padding: 1em;
  position: relative;
  &::before,
  &::after{
    content: '';
    display: block;
    position: absolute;
  }
  &::before{
    top: -0.3em;
    bottom: -0.3em;
    left: 1em;
    right: 1em;
  }
  &::after{
    left: -0.3em;
    right: -0.3em;
    top: 1em;
    bottom: 1em;
  }
}