@import "./colors";

a {
  text-decoration: none;
}

.navigation-bar {
  & {
    opacity: 0.95;
    position: fixed;
    z-index: 99;
    top: 0;
    background: black;
    height: 50px;
    width: 100%;
    transition: height 0.3s, opacity 0.3s, background-color 1s;
  }
  .check-container {
    cursor: pointer;
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: 60px;
    margin-top: 5px;
    display: inline-block;
    input {
      opacity: 0;
      &:checked ~ {
        .check {
          transform: rotate(125deg)
        }
        .light.polish {
          color: #666666;
          &::before {
            background: #111;
            box-shadow: none;
          }
        }
        .light.english {
          color: $font-on-black;
          &::before {
            background: white;
            box-shadow: 0 0 0 2px rgba(255, 255, 255, .2);
          }
        }
      }
    }
    .check {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(#262626, #141414);
      box-shadow: 0 0 0 2px #090909;
      border-radius: 50%;
      transition: 0.5s;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background: linear-gradient(#161616, #262626);
        border-radius: 50%;
      }
      &::after {
        content: '';
        position: absolute;
        top: 25%;
        left: 9%;
        width: 4px;
        height: 5px;
        background: #555;
        transform: rotate(118deg);
      }
    }
    .light {
      font-weight: bold;
      font-size: 12px;
      position: absolute;
      &.polish,
      &.english {
        transition: .5s;
        top: 0;
        &::before {
          content: '';
          position: absolute;
          top: 5px;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          transition: 0.5s;
        }
      }
      &.polish {
        color: $font-on-black;
        left: -50px;
        &::before {
          right: -10px;
          background: white;
          box-shadow: 0 0 0 2px rgba(255, 255, 255, .2);
        }
      }
      &.english {
        color: #666666;
        right: -58px;
        &::before {
          left: -10px;
          background: #111;
          box-shadow: none;
        }
      }
    }

  }
  .hamburger {
    & {
      cursor: pointer;
      margin-top: 10px;
      margin-right: 20px;
      float: right;
      width: 32px;
      height: 28px;
      border: 0;
      border-top: 4px solid $font-on-black;
      background: transparent;
      position: relative;
      top: 0;
      right: 0;
      transition: transform 0.3s, margin-right 0.3s, margin-top 0.3s;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      border-top: 4px solid $font-on-black;
      transform: translateY(6px);
    }
    &::after {
      transform: translateY(15px);
      transition: 0.3s transform linear;
    }
  }
  .links-list {
    li {
      margin: 10px;
      list-style: none;
      a {
        & {
          color: $font-on-black;
        }
        &.active,
        &:hover {
          color: $highlight-on-black;
        }
      }
    }
    & {
      display: inline-block;
      opacity: 0;
      transition: opacity 0.3s, box-shadow 0.3s, background-color 1s;
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      background: black;
      pointer-events: none;
    }
  }

  &.nav-open {
    .links-list {
      opacity: 1;
      pointer-events: auto;
      -webkit-box-shadow: 0 8px 12px 0 rgba(45, 44, 45, 1);
      -moz-box-shadow: 0 8px 12px 0 rgba(45, 44, 45, 1);
      box-shadow: 0 8px 12px 0 rgba(45, 44, 45, 1);
    }
    .hamburger {
      & {
        transform: rotate(45deg) translateY(6px);
        border: none;
      }
      &::after {
        transform: rotate(-90deg) translateX(-6px);
      }
      &:focus {
        outline: 0;
      }
    }
  }
  &.nav-scrolled {
    & {
      background: white;
      opacity: 0.85;
      height: 35px;
    }
    .hamburger {
      & {
        margin: 5px;
        width: 24px;
        height: 21px;
        border: 0;
        border-top: 3px solid $background-black;
      }
      &::before,
      &::after {
        border-top: 3px solid $background-black;
        transform: translateY(5px);
      }
      &::after {
        transform: translateY(13px);
        transition: 0.3s transform linear;
      }
    }
    .links-list {
      background: white;
    }
    .check-container {
      .check {
        opacity: 0;
      }
      .light {
        &::before {
          display: none;
        }
      }
      .polish {
        color: $highligh;
      }
      .english {
        right: -10px;
      }
      input:checked ~ .english {
        color: $highligh;
      }
    }
    &.nav-open {
      .hamburger {
        & {
          transform: rotate(45deg) translateY(6px);
          border: none;
        }
        &::after {
          transform: rotate(-90deg) translateX(-5.5px);
        }
      }
      .links-list a {
        color: $font-color;
        font-weight: bold;
      }

    }
  }
}



