@import "colors";
@import "multipleStyles";

.tech-section {
  @extend %section-padding;
  h2 {
    @extend %section-title;
  }
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .tech-container {
      width: 100%;
      h3 {
        text-align: center;
        font-size: calc(20px + 1vw);
      }
      .techs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 70px;
        .technology {
          position: relative;
          display: block;
          margin: calc(15px + 2vw);
          img {
            opacity: 0;
            transition: .2s transform, .5s width, .5s height;
            width: calc(30px + 4vw);
            height: calc(30px + 4vw);
            &.gulp {
              width: calc(15px + 2vw);
            }
            &.css {
              width: calc(20px + 3vw);
            }
            &.pwa {
              width: calc(50px + 7vw);
            }
            &.rest {
              margin-top: 10px;
              width: calc(50px + 7vw);
              height: calc(50px + 7vw);
            }
          }
          &.css-span{
            .details{
              left:calc(-50px + 2vw);
            }
            .name{
              left:calc(-90px + 2vw);
            }
            &:hover{
              .details,
              .name{
                left:calc(-70px + 2vw);
              }
            }
          }
          &.rest-span {
            margin: 0;
            .details {
              left: calc(-30px + 3.5vw);
              top: calc(60px + 4vw);
            }
            .name {
              left: calc(-70px + 3.5vw);
              bottom: calc(50px + 6vw);
            }
            &:hover{
              .details,
              .name{
                left: calc(-50px + 3.5vw);
              }
            }
          }
          &.gulp-span {
            .details {
              left: calc(-45px + 1vw);
            }
            .name {
              left: calc(-85px + 1vw);
            }
            &:hover{
              .details,
              .name{
                left: calc(-65px + 1vw);
              }
            }
          }
          &.pwa-span {
            .details {
              left: calc(-30px + 3.5vw);
            }
            .name {
              left: calc(-70px + 3.5vw);
            }
            &:hover{
              .details,
              .name{
                left: calc(-50px + 3.5vw);
              }
            }
          }
          .details {
            @extend %pop-up-tech;
            left:calc(-40px + 2vw);
            top: calc(30px + 4vw);
            height: 60px;
            .title {
              margin-top: 5px;
              display: block;
            }
            .fa {
              margin: 2px;
              &.checked {
                color: orange;
              }
            }
          }
          .name {
            @extend %pop-up-tech;
            left:calc(-80px + 2vw);
            bottom: calc(30px + 4vw);
            height: 30px;
          }
          &:hover {
            img {
              transform: scale(0.8);
            }
            .details,
            .name {
              left:calc(-60px + 2vw);
              opacity: 1;
              pointer-events: auto;
            }

          }

        }
        &.show {
          img {
            animation: slow-show 1s linear forwards;
          }
          span {
            @for $i from 1 through 12 {
              &:nth-child(#{$i}) img {
                animation-delay: #{$i*0.5}s;
              }
            }
          }
        }
      }
    }
  }

}

@keyframes slow-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}